In [ ]:
import pandas as pd
from pytrends.request import TrendReq
pytrend = TrendReq(hl='en-US', tz=360)
import time
startTime = time.time()

In [ ]:
#colnames = ["keywords"]
#df = pd.read_csv("/content/Keywords.csv", names=colnames)
#df2 = df["keywords"].values.tolist()
#df2.remove("Keywords")

In [ ]:
df= pd.ExcelFile("/content/HumanRights_DAFramework_WorkingSheet_v1.1_31Ja2022.xlsx")

In [ ]:
data1= pd.read_excel(df, 'Master')

In [ ]:
data1

,project_id,S.NO,Theme,Event,Keyword(s),Comments,Last Update
0,21,1,Civil,Discrimination,Racial discrimination,NaN,2022-01-31
1,21,2,Civil,Discrimination,Race discrimination,NaN,2022-01-31
2,21,3,Civil,Discrimination,Racism,NaN,2022-01-31
3,21,4,Civil,Discrimination,Racial segregation,NaN,2022-01-31
4,21,5,Civil,Discrimination,Racial disparities,NaN,2022-01-31
...,...,...,...,...,...,...,...
350,21,351,Regulation,Legislation,Anti-people smuggling and other measures act 2010,NaN,2022-01-31
351,21,352,Regulation,Legislation,Sex industry offences act 2005,NaN,2022-01-31
352,21,353,Regulation,Legislation,Criminal code amendment (trafficking in person...,NaN,2022-01-31
353,21,354,Regulation,Legislation,Criminal code amendment (slavery and sexual se...,NaN,2022-01-31
354,21,355,Regulation,Legislation,Rehabilitation of offenders act,NaN,2022-01-31

In [ ]:
data1.drop('Comments',axis=1)

,project_id,S.NO,Theme,Event,Keyword(s),Last Update
0,21,1,Civil,Discrimination,Racial discrimination,2022-01-31
1,21,2,Civil,Discrimination,Race discrimination,2022-01-31
2,21,3,Civil,Discrimination,Racism,2022-01-31
3,21,4,Civil,Discrimination,Racial segregation,2022-01-31
4,21,5,Civil,Discrimination,Racial disparities,2022-01-31
...,...,...,...,...,...,...
350,21,351,Regulation,Legislation,Anti-people smuggling and other measures act 2010,2022-01-31
351,21,352,Regulation,Legislation,Sex industry offences act 2005,2022-01-31
352,21,353,Regulation,Legislation,Criminal code amendment (trafficking in person...,2022-01-31
353,21,354,Regulation,Legislation,Criminal code amendment (slavery and sexual se...,2022-01-31
354,21,355,Regulation,Legislation,Rehabilitation of offenders act,2022-01-31

In [ ]:
df1=data1.drop(['project_id','S.NO','Theme','Comments','Last Update'], axis=1)

In [ ]:
data2 = df1[(df1.Event == 'Discrimination') ]
data2

              Event                          Keyword(s)
0    Discrimination               Racial discrimination
1    Discrimination                 Race discrimination
2    Discrimination                              Racism
3    Discrimination                  Racial segregation
4    Discrimination                  Racial disparities
5    Discrimination               Gender discrimination
6    Discrimination                         Gender bias
7    Discrimination                   Gender inequality
8    Discrimination              Differential treatment
144  Discrimination              Housing discrimination
145  Discrimination                      Refuse to rent
146  Discrimination              Denial of accomodation
147  Discrimination        Discrimination against women
148  Discrimination  Discrimination against minorities
149  Discrimination              Privacy discrimination
150  Discrimination                          Disability
151  Discrimination           Disability discrimination
152  Discrimination                  Indigenous peoples

In [ ]:
colnames = ["Keyword(s)"]

df3 = data2["Keyword(s)"].values.tolist()

In [ ]:
df3

['Racial discrimination',
 'Race discrimination',
 'Racism',
 'Racial segregation',
 'Racial disparities',
 'Gender discrimination',
 'Gender bias',
 'Gender inequality',
 'Differential treatment',
 'Housing discrimination',
 'Refuse to rent',
 'Denial of accomodation',
 'Discrimination against women',
 'Discrimination against minorities ',
 'Privacy discrimination',
 'Disability',
 'Disability discrimination',
 'Indigenous peoples']

In [ ]:
dataset1 = []

for x in range(0,len(df3)):
     keywords = [df3[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-31 2022-01-31',
     geo='')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset1.append(data)

In [ ]:
result1= pd.concat(dataset1, axis=1)
result1.to_csv('search_trends_Discrimination.csv')

## For Event : Discrimination

In [ ]:
result1

,Racial discrimination,Race discrimination,Racism,Racial segregation,Racial disparities,Gender discrimination,Gender bias,Gender inequality,Differential treatment,Housing discrimination,Refuse to rent,Discrimination against women,Discrimination against minorities,Privacy discrimination,Disability,Disability discrimination,Indigenous peoples
date,,,,,,,,,,,,,,,,,
2020-02-02,49,54,8,72,18,65,70,67,39,49,25,42,45,50,92,84,4
2020-02-09,45,55,7,59,22,81,71,67,59,64,52,50,33,65,94,92,5
2020-02-16,52,48,8,65,23,88,70,75,71,61,55,77,66,60,96,83,5
2020-02-23,54,58,8,89,25,85,70,84,100,58,45,82,22,92,97,87,5
2020-03-01,51,58,8,70,27,100,86,90,49,52,38,82,53,67,89,100,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-02,24,20,5,24,11,58,45,52,56,41,42,41,63,28,83,45,5
2022-01-09,38,37,6,47,19,73,56,61,59,49,24,37,12,38,90,54,6
2022-01-16,31,34,6,59,20,80,55,62,76,43,48,51,37,50,89,66,6
2022-01-23,36,41,7,50,22,74,73,63,69,60,21,86,86,44,97,83,7
2022-01-30,44,43,8,52,31,73,59,63,54,51,54,34,13,40,96,71,6

In [ ]:
result1.reset_index(inplace = True)

In [ ]:
result1.head()

,date,Racial discrimination,Race discrimination,Racism,Racial segregation,Racial disparities,Gender discrimination,Gender bias,Gender inequality,Differential treatment,Housing discrimination,Refuse to rent,Discrimination against women,Discrimination against minorities,Privacy discrimination,Disability,Disability discrimination,Indigenous peoples
0,2020-02-02,49,54,8,72,18,65,70,67,39,49,25,42,45,50,92,84,4
1,2020-02-09,45,55,7,59,22,81,71,67,59,64,52,50,33,65,94,92,5
2,2020-02-16,52,48,8,65,23,88,70,75,71,61,55,77,66,60,96,83,5
3,2020-02-23,54,58,8,89,25,85,70,84,100,58,45,82,22,92,97,87,5
4,2020-03-01,51,58,8,70,27,100,86,90,49,52,38,82,53,67,89,100,4

In [ ]:
result1.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

Racial discrimination                 42.857143
Race discrimination                   44.742857
Racism                                10.933333
Racial segregation                    57.361905
Racial disparities                    29.771429
Gender discrimination                 65.971429
Gender bias                           60.428571
Gender inequality                     57.514286
Differential treatment                59.695238
Housing discrimination                51.990476
Refuse to rent                        44.400000
Discrimination against women          49.619048
Discrimination against minorities     36.695238
Privacy discrimination                45.047619
Disability                            81.990476
Disability discrimination             67.095238
Indigenous peoples                     7.876190
dtype: float64

## For Event : Human Trafficking

In [ ]:
data3 = df1[(df1.Event == 'Human Trafficking') ]
data3

                Event                   Keyword(s)
9   Human Trafficking            Child trafficking
10  Human Trafficking              Sex trafficking
11  Human Trafficking           Labour trafficking
12  Human Trafficking  Trafficking for organ trade
13  Human Trafficking            Human trafficking
14  Human Trafficking        Child sex trafficking
15  Human Trafficking            Woman trafficking
16  Human Trafficking            Human traffickers

In [ ]:
colnames = ["Keyword(s)"]

df4 = data3["Keyword(s)"].values.tolist()

In [ ]:
dataset2 = []

for x in range(0,len(df4)):
     keywords = [df4[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-31 2022-01-31',
     geo='IN')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset2.append(data)

In [ ]:
result2 = pd.concat(dataset2, axis=1)
result2.to_csv('search_trends_Human Trafficking.csv')

In [ ]:
result2

            Child trafficking  ...  Woman trafficking
date                           ...
2020-02-02                 20  ...                 40
2020-02-09                 22  ...                  0
2020-02-16                 12  ...                  0
2020-02-23                 17  ...                  0
2020-03-01                 24  ...                 53
...                       ...  ...                ...
2022-01-02                 25  ...                 29
2022-01-09                 16  ...                 15
2022-01-16                 13  ...                 15
2022-01-23                 19  ...                 15
2022-01-30                 20  ...                  0

[105 rows x 6 columns]

## For Event : War Crimes

In [ ]:
data4 = df1[(df1.Event == 'War Crimes') ]
data4

         Event               Keyword(s)
17  War Crimes               War crimes
18  War Crimes                 Genocide
19  War Crimes           Wilful killing
20  War Crimes  Destruction of property

In [ ]:
colnames = ["Keyword(s)"]

df5 = data4["Keyword(s)"].values.tolist()

In [ ]:
dataset3 = []

for x in range(0,len(df5)):
     keywords = [df5[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-31 2022-01-31',
     geo='IN')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset3.append(data)

In [ ]:
result3 = pd.concat(dataset3, axis=1)
result3.to_csv('search_trends_War Crimes.csv')

In [ ]:
result3

            War crimes  Genocide  Destruction of property
date
2020-02-02          18        20                       56
2020-02-09          55        21                       23
2020-02-16          37        13                       11
2020-02-23          25        36                       11
2020-03-01          43        35                       11
...                ...       ...                      ...
2022-01-02          13        15                       24
2022-01-09          66        20                       37
2022-01-16          47        32                       25
2022-01-23          21        18                       13
2022-01-30          65        14                       54

[105 rows x 3 columns]

## For Event : Violent Extremism

In [ ]:
data5 = df1[(df1.Event == 'Violent extremism') ]
data5

                Event          Keyword(s)
21  Violent extremism  Violent extremists
22  Violent extremism   Violent extremism
23  Violent extremism     Sexual violence
24  Violent extremism   Inciting violence
25  Violent extremism     Violent clashes

In [ ]:
colnames = ["Keyword(s)"]

df6 = data5["Keyword(s)"].values.tolist()

In [ ]:
dataset4 = []

for x in range(0,len(df6)):
     keywords = [df6[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2020-01-31 2022-01-31',
     geo='IN')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset4.append(data)

In [ ]:
result4 = pd.concat(dataset4, axis=1)
result4.to_csv('search_trends_violent extremism.csv')

In [ ]:
result4

            Violent extremism  ...  Violent clashes
date                           ...
2020-02-02                  0  ...                0
2020-02-09                 33  ...                0
2020-02-16                  0  ...                0
2020-02-23                  0  ...               73
2020-03-01                  0  ...                0
...                       ...  ...              ...
2022-01-02                 35  ...                0
2022-01-09                  0  ...                0
2022-01-16                 36  ...                0
2022-01-23                  0  ...                0
2022-01-30                  0  ...                0

[105 rows x 4 columns]